.bg {
    width: 100%;
    height:100%; 
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(250deg);
    opacity: 0.2;
    z-index: -1;
}