@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(250deg);
    opacity: 0.2;
    z-index: -1;
}

.menu img {
    width: 40px;
    transition: 0.3s;
}

.menu {
    background-color: white;
    box-shadow: 1px 1px 20px #aaa;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding-top: 1vh;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.logo {
    text-align: center;
}

.menu a:hover {
    background-color: #e5ffe5;
}

.menu a {
    transition: 0.3s;
}

.nav a:hover img {
    transform: rotate(15deg) translateX(20px);
}

/* .zimlia sasha:hover arthur {  
    height: 200%;
} */

a {
    text-decoration: none;
}

.logo {
    color: #a0b9ff;
    font-size: 0.7vw;
}

@media screen and (max-width: 800px) {
    .menu {
        width: 100%;
        height: 10vh;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav {
        display: contents;
    }

    .logo h3 {
        display: none;
    }

    .menu img {
        width: 55px;
    }
}

.header {
    margin-left: 90px;
}

.title {
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 10px #4b4b4b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    width: 300px;
    color: #a0b9ff;
    font-weight: bold;
}

.planet-facts {
    margin:150px 0;
    display: flex;
    flex-direction: row;
}

.facts-left {
    width: 50%;
    background-image: url(images/intro2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.facts-right {
    width: 50%;
}

.right-content {
    display: flex;
    background-color: white;
    list-style-type: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.right-content li {
    margin: 0 20px;
    font-weight: 900;
    background-color: #e5ffe5;
    padding: 10px 20px;
    border-radius: 30px;

}

.gallery {
    margin-left: 80px;
}

.gallery-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 18px;
}

.gallery-title-img img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.gallery-content {
    display: flex;
    justify-content: space-around;
}

.gallery-item img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    border-radius: 25px;
}

.gallery-item {
    width: 300px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.gallery-item-text {
    z-index: 10;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: fit-content;
    opacity: 0.8;
} 

.about {
    margin-left: 80px;
    margin-top: 50px;
}

.about-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 18px;

}

.about-title-img img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.about-content {
    display: flex;
}

.about-content-item {
    padding: 150px 0;
    width: 33%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: white;
}